[main]
enabled=1
debug=0
readaloud=1
trygoogle=1
name=Michael
head=wget -q -U Mozilla 
tail=.mp3 
end=Thats all for now.  Have a nice day.  

[currentconditions]
enabled=1
location=Chapel Hill NC
units=imperial
# Change units to metric if you desire

[forecast]
enabled=1
location=Chapel Hill NC
units=imperial
# Change units to metric if you desire

[btc]
enabled=1

[news]
enabled=1

[stocks]
enabled=1
tickers=aapl,fb,goog

